.overlay {
    height: 0%;
    width: 100%;
    position:fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(50,50,50);
    overflow-y: hidden;
    transition: 0.5s;
		overflow-y:scroll;
		
}

.overlay .overlay-content {
    position:relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
	
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position:absolute;
    top: 30px;
    right:2%;
	
	text-decoration:none;
    font-size: 60px;
	
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*
@media screen and (max-width: 768px) {
	.overlay .overlay-content .full .portfolio-img .mySlidess img{
		width:100%;
		margin-bottom:10px;
	}
	.portfolio-img .arrowright{
	float:right;
	right:14%;
}
	.portfolio-img .arr{
		
		margin-top:-50%;
	}
}
@media screen and (max-width: 630px) {
		.overlay .overlay-content .full .portfolio-img .arr{
		
		margin-top:-10%;
	}
}
@media screen and (max-width: 500px) {
		.overlay .overlay-content .full .portfolio-img .arr{
		
		margin-top:-30%;
	}
}
@media screen and (max-width: 385px) {
		.overlay .overlay-content .full .portfolio-img .arr{
		
		margin-top:-50%;
	}
}
@media screen and (max-width: 768px) {
	.portfolio-img .arr{
		
		margin-top:0%;
	}
}
*/
.overlay .overlay-content .full .portfolio-img img{
		width:114%;
		height:80%;
	}

.overlay .overlay-content .full .portfolio-img .arrowleft{
	float:left;
	margin-left:-9.3%;
	margin-top:-35%;
	position:absolute;
}
.overlay .overlay-content .full .portfolio-img .arrowright{
	float:right;
	margin-right:10%;
	margin-top:-35%;
	position:relative;
}