@media only screen and (min-width:1366px)
{
	.layout .content .projects .js-projects-gallery .grid
	{
		width:95%;
	
		
	}
	.content .projects .js-projects-gallery {
		margin-left:3.5%;
	}
}
@media only screen and (max-width:1366px)
{
	.layout .content .projects .js-projects-gallery .grid
	{
		width:100%;
	}
	.content .projects .js-projects-gallery {
		margin-left:0%;
	}
}
@media only screen and (min-width:1566px)
{
	.layout .content .projects .js-projects-gallery .grid
	{
		width:95%;
	
		
	}
	.content .projects .js-projects-gallery {
		margin-left:8%;
	}
}