@media only screen and (max-width:924px)
{
	.col-field .form-submit
	{
		margin-top:-100px;
	}	
}
@media only screen and (max-width:767px)
{
	.col-field .form-submit
	{
		margin-top:20px;
	}	
}
@media only screen and (max-width:376px)
{
	.col-field .form-submit
	{
		margin-top:-100px;
	}	
}
.col-field .form-submit
{
	float:right;
}
.fileContainer [type=file]
 {
	position: fixed;
}
form .error 
{
	color: #b9b624;
}
.col-field .row-field .col-field
{
	width:100%;
}
@media only screen and (min-width:250px)
{
	.form-submit .btn
	{
		margin-top:0%;
	}
	.col-field .row-field .col-field
	{
		width:100%;
		margin-left:-15%;
	}
}
@media only screen and (min-width:300px)
{
	.form-submit .btn
	{
		margin-top:0%;
	}
}
@media only screen and (min-width:340px)
{
	.form-submit .btn
	{
		margin-top:0%;
	}
}
@media only screen and (min-width:370px)
{
	.form-submit .btn
	{
		margin-top:0%;
	}
}
@media only screen and (min-width:377px)
{
	.form-submit .btn
	{
		margin-top:-230%;
	}
}
@media only screen and (min-width:400px)
{
	.form-submit .btn
	{
		margin-top:-230%;
	}
}
@media only screen and (min-width:440px)
{
	.form-submit .btn
	{
		margin-top:-230%;
	}
}
@media only screen and (min-width:500px)
{
	.form-submit .btn
	{
		margin-top:-230%;
	}
}
@media only screen and (min-width:580px)
{
	.form-submit .btn
	{
		margin-top:-250%;
	}
}
@media only screen and (min-width:670px)
{
	.form-submit .btn
	{
		margin-top:10%;
	}
}
@media only screen and (min-width:680px)
{
	.form-submit .btn
	{
		margin-top:10%;
	}
}
@media only screen and (min-width:768px)
{
	.form-submit .btn
	{
		margin-top:110%;
	}
}
@media only screen and (min-width:870px)
{
	.form-submit .btn
	{
		margin-top:110%;
	}
}
@media only screen and (min-width:925px)
{
	.form-submit .btn
	{
		margin-top:10%;
	}
}
@media only screen and (min-width:992px)
{
	.form-submit .btn
	{
		margin-top:-350%;
	}
	.col-field .row-field .col-field
	{
		width:100%;
		margin-left:0%;
	}
}
@media only screen and (min-width:1035px)
{
	.form-submit .btn
	{
		margin-top:-360%;
	}
}
@media only screen and (min-width:1100px)
{
	.form-submit .btn
	{
		margin-top:-340%;
	}
}
@media only screen and (min-width:1192px)
{
	.form-submit .btn
	{
		margin-top:0%;
	}
}
@media only screen and (min-width:1200px)
{
	.form-submit .btn
	{
		margin-top:-310%;
	}
}
@media only screen and (min-width:1215px)
{
	.form-submit .btn
	{
		margin-top:0%;
	}
}
a.career 
{
	color:#b9b624;
}
a.home,a.aboutus,a.projects,a.gallary,a.testimonial,a.contactus 
{
	color:#fff;
}
.contact-details .col-field form .row-field
{
	margin-left:23%;
}
.contact-details .col-field form .row-field .col-field .form-group
{
	margin-left:1.7%;
}
.contact-details .col-field form .row-field .col-field h5
{
	margin-left:1.7%;
}
.contact-details .col-field form .row-field .col-field .form-group input.myfile
{
	float:right;
	margin-left:1.7%;
}
.contact-details .col-field form .row-field .col-field .form-group p.demo
{
	color:white;
	margin-top:-10%;
	font-weight:normal;
}
.layout .content .entry-text
{
	margin-left:15%;
	margin-right:15%;
}